<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bibliothèque
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col >Auteur </ion-col>
      <ion-col>Titre du livre</ion-col>
      <ion-col size="2">Genre</ion-col>
      <ion-col size="2"> Domaine Public</ion-col>
      <ion-col size="1"> Nbre de pages</ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-content>
    <ion-card *ngFor="let livre of livres">
        <ion-card-content>
            {{livre.auteur}} {{livre.titre}} {{livre.genre}} {{livre.domaine}} {{livre.pages}}
        </ion-card-content>
    </ion-card>
</ion-content>

