<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bibliothèque
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card *ngFor="let livre of livres">
      <ion-row>
        <ion-card-content>
          <ion-col >Auteur </ion-col> {{livre.auteur}}
          <br>
          <ion-col>Titre du livre</ion-col> {{livre.titre}}
          <br>
          <ion-col size="2">Genre</ion-col>  {{livre.genre}}
          <br>
          <ion-col size="2"> Domaine Public</ion-col> {{livre.domaine}}
          <br>
          <ion-col size="1"> Nbre de pages</ion-col>{{livre.pages}}
          <br>
        </ion-card-content>
      </ion-row> 
      <div>
        <!--<a href="../tabs/tab3">Commentaires</a>-->
        <ion-button (click)= "gototab3(livre)">
          Commentaires
        </ion-button>
      </div>
      </ion-card>
    
  </ion-grid>
</ion-content>



